.stonehnh-header {
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 10px 20px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #2caadb;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 8px 12px;
    flex-grow: 1;
    margin: 0 20px 0 200px;
    max-width: 600px;
    gap: 12px;
}

.search-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.search-legend {
    margin-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 15px;
    margin: 0 10px;
}

.search-input {
    width: 200px;
}

.user-section {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    width: 300px;
}

.ant-dropdown-menu {
    font-size: 20px;
    min-width: 200px;
}

.ant-dropdown-menu-item {
    padding: 10px 20px;
}

.ant-dropdown-menu-title-content {
    font-size: 20px;
}

.ant-dropdown-menu-title-content a {
    font-size: 16px;
    text-decoration-line: none;
}

.host-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.user-menu {
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.category-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 12px;
}

/* Category styles */
.categories {
    display: flex;
    gap: 32px;
    padding: 0 24px;
}

.category-item {
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.category-item:hover {
    background-color: #f5f5f5;
}

.category-item.active-category {
    border-radius: 20px;
    border-bottom: 4px solid #0079b5;
    /* background-color: #0079b5; */
    /* color: white; */
}

/* .category-item.active-category .category-icon {
    filter: brightness(0) invert(1);
} */

.category-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.category-icon {
    width: 24px;
    height: 24px;
}

.category-label {
    margin-top: 5px;
    font-size: 12px;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 24px;
}

.price-toggle {
    border: 1px solid #ccc;
    padding: 12px 16px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}